{% extends 'base.html' %}

{% block content %}

    id: {{ animal.animalid }}<br>
    birthday: {{ animal.dob }}<br>
    cage: {{ animal.cageid }}<br>
    mate id: {{ animal.birth_mate_id }}<br>
    animal gene info: 
    {{ animal.genotype }}<br>
    father id: <a href = "{% url 'animalinfo' fatherid %}">{{ fatherid }}</a><br>
    mother id: <a href = "{% url 'animalinfo' motherid %}">{{ motherid }}</a><br>
    <br>
    <hr>
    <form action= "{% url 'terminate' animal.animalid %}" method='POST'>
    {% csrf_token %}
    <input type='submit' value='Move it out of calony'>
    </form>

    <hr>
    <form action= "{% url 'move' animal.animalid %}" method='POST'>
    {% csrf_token %}
    Move this animal to a different cage: 
    <input name='cageid'></input>
    <input type='submit' value='Move'></input>

    <hr>
    <a href="../">return</a>

{% endblock %}