{% extends 'base.html' %}

{% block content %}

    id: {{ animal.animalid }}<br>
    birthday: {{ animal.dob }}<br>
    cage: {{ animal.cageid }}<br>
    mate id: {{ animal.birth_mate_id }}<br>
    animal gene info: 
    {{ animal.genotype }}<br>
    father id: <a href = "{% url 'transgenicanimal:animalinfo' fatherid %}">{{ fatherid }}</a><br>
    mother id: <a href = "{% url 'transgenicanimal:animalinfo' motherid %}">{{ motherid }}</a><br>
    <br>
    <p style="background-color:lightgray;">Treatments: </p>
    {% for value in animal.surgtreatment_set.all %}
    ===================================================<br>
    {{ value.method }}<br>
    {{ value.date}}<br>
    {% for key, value in value.parameters.items %}
    {{ key }}: {{ value }}<br>
    {% endfor %}
    {{ value.note}}<br>
    {% endfor %}
    <br>
    <p style="background-color:lightgray;">Add a new treatment (Note: not add this function yet)</p>
    <form action="addtreatment" method="POST">
    <select name="treatmenttype"> 
        <option selected="true" disabled="disabled">Choose a treatment type</option> 
        <option value="aavinject">aav inject</option> 
        <option value="windowsetup">window setup</option> 
        <option value="drug">drug treatment</option> 
        <option value="purfusion">purfusion</option> 
        <option value="tbi">traumatic head injury</option> 
    </select> 
    <input type="submit" value="Add"></input><br>


    </form>

    <hr>
    <form action= "{% url 'transgenicanimal:terminate' animal.animalid %}" method='POST'>
    {% csrf_token %}
    <input type='submit' value='Move it out of calony'>
    </form>

    <hr>
    <form action= "{% url 'transgenicanimal:move' animal.animalid %}" method='POST'>
    {% csrf_token %}
    Move this animal to a different cage: 
    <input name='cageid'></input>
    <input type='submit' value='Move'></input>
    </form>

    <hr>
    <form action= "{% url 'transgenicanimal:schedule' animal.animalid %}" method='POST'>
    {% csrf_token %}
    Schedule the usage for this animal: choose the type, then click the button.<br><br>
    <p>
    <select name="purpose">
        <option value="terminate" selected>terminate</option>
        <option value="experiment">experiment</option>
        <option value="cancel_terminate">cancel terminate</option>
    </select>
    <input type='submit' value='Schedule animal operation'></input>
    </p>
    </form>

    <hr>
    <a href="../">return</a>

{% endblock %}