{% extends 'base.html' %}

{% block content %}

    mate id: {{ object.mateid }}<br>
    cage id: {{ object.cageid }}<br>
    father: {{ object.father.animalid }}&nbsp&nbsp&nbsp&nbsp(generation: {{ object.father.generation }}&nbsp&nbsp genotype: {{ object.father.genotype }})<br>
    mother: {{ object.mother.animalid }}&nbsp&nbsp&nbsp&nbsp(generation: {{ object.mother.generation }}&nbsp&nbsp genotype: {{ object.mother.genotype }})<br>
    pair date: {{ object.pair_date }}<br>
    deliever date: {{ object.birthday }}<br>
    weaning date: {{ object.weaning_date }}<br>
    Is it still together: {{ object.inprocess }}<br>
    note: {{ object.note }}<br><br>

    {% if object.birthday == null %}
        <hr>
        <form action="{% url 'givebirth' object.mateid %}" method='POST'>
        {% csrf_token %}
        Delievered <input type='number' value=0 name='days'></input> days ago
        <input type='submit' value='Confirm give birth'></input>
        </form>

    {% else %}
        <hr>
        <form action="{% url 'wean' object.mateid %}" method='POST'>
        {% csrf_token %}
        <p>male num: <input type='number' value=0 name='malenum'></input>
        male cage: <input name='malecage'></input>
        <p>female num: <input type='number' value=0 name='femalenum'></input>
        female cage: <input name='femalecage'></input>
        <p>generation: <input type='number' value={{ object.father.generation }} name='generation'></input>
        <p>Keep mating:</p>
        <input type="radio" id="yes" name="keepmate" value="yes" checked>
        <label for="yes">Yes</label><br>
        <input type="radio" id="no" name="keepmate" value="np">
        <label for="no">No</label><br>
        <input type='submit' value='Weaning'></input>
        </form>

        
        <hr>
        <form action="{% url 'resetbirth' object.mateid %}" method='POST'>
        {% csrf_token %}
        If the infants died, please click => <input type='submit' value='reset birth situation'></input>
        <p>Note: This function not tested yet (3/9/2020)
        </form>
    {% endif %}

    <hr>
    <form action="{% url 'stopmate' object.mateid %}" method='POST'>
    {% csrf_token %}
    <input type='submit' value='Stop mating'></input>
    </form>

    <hr>
    <a href="../">return</a>

{% endblock %}