.info-container div{
    display: inline-block;
    vertical-align:top;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: #EEEEEE;

    border: 1px;
    border-radius: 15px;
    border-width: thin;
    border-style: solid;
    height: 200px;
}
.info-container-left {
    
}
.info-container-right {
}

.section-content {
}
.section-content th {
    text-align: center;
    padding: 20px,10px;
}

.section-content td {
    padding: 20px,10px;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    color: #DDDDDD;
    background-color: #666666;
    margin-top:20px;
    margin-bottom: 15px;
    padding: 4px;
}

.section-content table {
    width: 100%;
    font-size: 14px;
}

.schedule-terminate {
    color: #DDDDDD;
}

.schedule-terminate a{
    color: #DDDDDD;
}

